<section class="container">
  <div class="m-xsmall-top-5 m-xsmall-bottom-2">
    <h1><%= @article.title %></h1>
  </div>
  <div class="m-xsmall-bottom-2">
    <img src="<%= @article.image_url(:small) %>" alt="<%= @article.title %>">
  </div>
  <div class="article-content">
    <%= simple_format(@article.content) %>
  </div>
  <div class="article-links">
    <%= render 'articles/components/article_operations' %>
  </div>
</section>

